/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}

/* D Logo Style */
.d-logo {
    font-size: 100px;
    font-weight: bold;
    color: #3498db;
    /* Change the color of the logo */
    text-transform: uppercase;
    animation: rotateD 5s ease-in-out infinite, scaleD 3s ease-in-out infinite;
 }
/* Full-page overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.container {

    height: 50%;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
       max-width: 100%;
    }
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-image:url(../images/up.png) ;
/* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 25px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: Green; /* Add a dark-grey background on hover */
  }
/* D Logo Style */
.d-logo {
    font-size: 100px;
    font-weight: bold;
    color: #3498db;
    /* Change the color of the logo */
    text-transform: uppercase;
    animation: rotateD 2s ease-in-out infinite, scaleD 1s ease-in-out infinite;
}

/* Animation to rotate the D */
@keyframes rotateD {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Animation to scale the D */
@keyframes scaleD {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

/* Hide the loader after page has loaded */
body.loaded .loading-overlay {
    display: none;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 38px;


}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;

}

.header_bg {
   
    float: left;
   position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 0px 20px 0px;
    

}
.menu_fixed {
  
    z-index: 9999 !important;
    width: 100%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    top: 0;
    
    height: 88px;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.bg-light {
    background-color: transparent !important;
}

.logo {
    width: 37%;
    float: left;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: black;
    border-radius: 40px;
    text-transform: uppercase;


}
.logo{
    color:black ;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: red;
}
.navbar {
    
}



/* header section end */
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   
}

/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding: 0px 0px 220px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
    text-transform: capitalize;
    padding-left: 30px;
    padding-top: 100px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #fefefd;
    font-weight: bold;
    padding-bottom: 0px;
    line-height: 70px;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #fefefd;
}

.social_icon {
    width: 100%;
    float: right;
    text-align: right;
}

.social_icon ul {
    margin: 0px;
    padding-top: 170px;
    display: inline-block;
}



.social_icon li a {
    float: left;
    padding: 0px 0px;
    background-color: #b0b3b2;
    color: #252f2d;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 5px;
    width: 35px;
    text-align: center;
    margin-top: 10px;
}

.social_icon li a:hover {
    background-color: #ffffff;
    color: #252f2d;
}

.video_bt {
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-left: 120px;
}

.play_icon img {
    width: 80px;
}

.play_icon {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.play_icon::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 40px;
    width: 90px;
    height: 90px;
    transform: translate(-50%, -50%);
    background-color: #f5c729;
    border-radius: 100%;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0px 0px 10px 0px;
    right: initial;
    margin: 0 auto;
    z-index: -1;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }

    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

.carousel-inner,
.carousel,
.carousel-item,
.container,
.fill {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.slide-wrapper {
    display: inline;
}

.slide-wrapper .container {
    padding: 0;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.banner_section .carousel-inner>.carousel-item.carousel-item-next,
.banner_section .carousel-inner>.carousel-item.active.carousel-item-right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;
}

.banner_section .carousel-inner>.carousel-item.carousel-item-prev,
.banner_section .carousel-inner>.carousel-item.active.carousel-item-left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;
}

.banner_section .carousel-inner>.carousel-item.next.carousel-item-left,
.banner_section .carousel-inner>.carousel-item.carousel-item-prev.carousel-item-right,
.banner_section .carousel-inner>.carousel-item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    ;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0;
}

/*------------------------------- vertical carousel indicators ------------------------------*/

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: none;
}

.carousel-indicators li {
    display: block;
    margin-bottom: 5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #0fbdd7
}

.carousel-indicators li.active {
    margin-bottom: 5px;
    background: #ffffff;
}


/* banner section end */
 
/* services section start */

.services_section {
    width: 100%;
    float: left;
    padding-top: 0px;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #f5c729;
    font-weight: bold;
}

.services_text {
    width: 100%;
    font-size: 24px;
    color: #343534;
    font-weight: bold;
    padding: 20px 0px 0px 0px;
    text-align: center;
}

.services_section_2 {
    width: 100%;
    float: left;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.box_main {
    width: 100%;
    border-radius: 100%;
    border: 6px solid #f5c729;
    height: auto;
    padding: 70px 0px;
    box-shadow: 0px 0px 60px 0px #f0f0ef;
}

.app_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.app_icon_1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
}

.box_main:hover .services_text {
    color: #f5c729;
}

.services_text.active {
    color: #f5c729;
}

.box_main:hover .app_icon_1 {
    display: block;
}

.box_main:hover .app_icon {
    display: none;
}

.readmore_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #252f2d;
    padding: 14px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.readmore_bt a:hover {
    background-color: #f5c729;
    color: #fefefd;
}


/* services section end */

/* about section end */
#din {
    width: 100%;
    height: 50%;
    border: 1cap !important;
}

/* about section end */

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 15px 15px 0;
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #212529;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #eb5d1e;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(122, 105, 96, 0.6);
    position: absolute;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
  }
  
  .portfolio .portfolio-wrap img {
    transition: 0.3s;
    position: relative;
    z-index: 1;
  }
  
  .portfolio .portfolio-wrap .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    top: calc(50% - 32px);
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #eb5d1e;
    margin: 0 4px;
    font-size: 18px;
    line-height: 1;
    background-color: #fff;
    padding-top: 6px;
    padding-right: 1px;
    border-radius: 50px;
    text-align: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a i {
    line-height: 1;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    background: #eb5d1e;
    color: #fff;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .portfolio .portfolio-wrap:hover::before {
    left: 0;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    top: calc(50% - 16px);
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }
  
/* portfolio section start */

.portfolio_section {
    width: 100%;
    float: left;
    padding: 90px 0px;
}

.portfolio_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #f5c729;
    font-weight: bold;
    text-align: center;
}

.portfolio_taital_1 {
    color: #292929;
    border-bottom: 5px solid #363636;
}

.portfolio_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.pro t {
    padding-left: 30px;
}

#pro th {
    padding-left: 20%;
}

.image {
    display: block;
    width: 100%;
    height: 250px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(45, 45, 45, 0.5);
    margin: 0 auto;
}

.container_main {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}

.container_main:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}

.btn_main {
    width: 100%;
    text-align: center;
}

.buy_bt {
    width: 160px;
    margin: 0 auto;
    text-align: center;
}

.buy_bt a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #252525;
    background-color: #fefefd;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.buy_bt a:hover {
    color: #fefefd;
    background-color: #f5c729;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.seemore_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #252f2d;
    padding: 14px 0px;
    font-weight: bold;
    border-radius: 5px;
}

.seemore_bt a:hover {
    background-color: #f5c729;
    color: #fefefd;
}


/* portfolio section end */

.slider-height2 {
    background-image: url(../img/hero/hero2.jpg);
    min-height: 390px;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-area .hero-cap .breadcrumb {
    background: none;
    padding: 0;
    margin: 0;
}
/* skills section start */

.blog_section {
    width: 100%;
    float: left;

    height: 10px;
    background-size: cover;
    margin-bottom: 80px;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #f5c729;
    font-weight: bold;
    text-align: center;
}

.blog_taital_1 {
    color: black;
    border-bottom: 5px solid black;
}

.blog_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}

.blog_box_3 {
    width: 100%;

    font-size: 16px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}


.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 110px;
    padding-left: 5%;
    padding-right: 5%;
}

.blog_box {
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px;
    padding: 50px 50px 50px 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.blog_img {


    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 10%;
    max-height: 5%;
}

.blog_img_2 {
    width: 100%;

    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.blog_img_3 {
    width: 100%;
    background-image: url(../images/blog-img3.png);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.date_text {


    color: orangered;
    text-align: center;

    text-transform: uppercase;


}

.col-sm-12 {

    width: 100%;
    height: justify;
}

.prep_text {
    width: 100%;
    font-size: 20px;
    color: #fefefd;
    font-weight: bold;
    padding: 250px 220px 220px 220px;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    color: #353534;
    margin: 0px;
    padding: 20px 20px;
    font-weight: 500;
}

.readmore_bt_1 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20%;
    margin-top: 50px;
}

.readmore_bt_1 a {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #252f2d;
    padding: 14px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.readmore_bt_1 a:hover {
    background-color: #f5c729;
    color: #fefefd;
}


/*skills section end */


/* contact section start */
.new_home_web .text-blk.subHeading {
    text-align: center;
    color: #939393;
    max-width: 630px;
}

.new_home_web .text-blk.heading {
    font-size: 36px;
    line-height: 55px;
    font-weight: 600;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.new_home_web .responsive-container-block.textContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    max-width: 1320px;
    z-index: 50;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    width: 50%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 10px;
}

.new_home_web .send:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.new_home_web .send {
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: #ea5541;
    width: 80%;
    text-align: center;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.new_home_web .container-block.form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 50;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 1100px;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 310px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    width: 100%;
}

.new_home_web .textinput {
    height: 100%;
    width: 100%;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #a2a2a2;
    border-right-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    border-left-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
}

.new_home_web .input {
    height: 50px;
    width: 100%;
    border-top-width: 2.5px;
    border-right-width: 2.5px;
    border-bottom-width: 2.5px;
    border-left-width: 2.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #a2a2a2;
    border-right-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    border-left-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: #f1f1f1;
}

.new_home_web .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.new_home_web .responsive-container-block.container {
    max-width: 1320px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    z-index: 50;
}

.new_home_web .responsive-cell-block {
    min-height: 75px;
}

.new_home_web textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.new_home_web input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.new_home_web a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.new_home_web .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

.new_home_web * {
    font-family: Nunito, sans-serif;
}

.new_home_web .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.new_home_web .left4 {
    width: 50%;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.new_home_web .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.lastPhone {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.new_home_web .orangeText {
    color: #ea5541;
}

.new_home_web .orangeLine {
    height: 10px;
    width: 160px;
    background-color: #eb604d;
}

.new_home_web .topHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin: 0 0 25px 0;
}

.new_home_web .imgBG {
    position: absolute;
    width: 80%;
    height: 100%;
    left: auto;
    right: 0px;
    top: auto;
    bottom: 0px;
}

@media (max-width: 1024px) {
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 60px;
        padding-left: 0px;
    }

    .new_home_web .responsive-container-block.container {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin: 0 0 10px 0;
    }

    .new_home_web .container-block.form-wrapper {
        align-items: center;
    }

    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
        width: 100%;
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
        width: 100%;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
    }

    .new_home_web .responsive-container-block.container {
        flex-direction: column;
    }

    .new_home_web .textinput {
        width: 100%;
    }

    .new_home_web .input {
        width: 100%;
    }

    .new_home_web .left4 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 25px;
        margin-left: 0px;
    }

    .new_home_web .responsive-container-block {
        flex-direction: column;
        align-items: center;
    }

    .new_home_web .textinput {
        height: 200px;
    }

    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
        width: 100%;
    }

    .new_home_web .imgBG {
        width: 100%;
        height: 90%;
        top: auto;
        left: auto;
    }

    .new_home_web .text-blk.heading {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
        flex-wrap: wrap;
    }

    .new_home_web .send {
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 15px;
        padding-left: 0px;
        text-align: center;
        width: 70%;
    }

    .new_home_web .responsive-container-block.big-container {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .new_home_web .text-blk.heading {
        font-size: 50px;

        line-height: 35px;
    }

    .new_home_web .send {
        width: 100%;
        max-width: 250px;
    }

    .new_home_web .imgBG {
        height: 60%;
    }

    .new_home_web .text-blk.subHeading {
        font-size: 16px;
        line-height: 24px;
    }

    .new_home_web .responsive-container-block.textContainer {
        margin: 50px 0 30px 0;
    }

    .new_home_web .input {
        height: 45px;
    }

    .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
        margin: 0 0 10px 0;
    }
}

.contact_section {
    width: 100%;

    padding-bottom: 10px;
}


.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #f5c729;
    font-weight: bold;
    text-align: center;
}

.contact_taital_1 {
    color: #292929;
    border-bottom: 5px solid #363636;
}

.contact_section_2 {

    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw65.png");
    width: 100%;
    display: flex;
    padding-top: 55px;
    padding-left: 5%;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 100%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #414140;
    background-color: #ffffff;
    border: 1px solid #aaaaa9;
    padding: 11px 20px;
    margin-top: 20px;
}

input.mail_text::placeholder {
    color: #414140;
}

.massage-bt {
    color: #414140;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #aaaaa9;
    padding: 40px 20px 0px 20px;
    height: 110px;
    margin-top: 20px;
}

textarea#comment.massage-bt::placeholder {
    color: #414140;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #fa7e23;
    padding: 14px;
    margin-top: 40px;
    display: block;
    font-weight: bold;
    border-radius: 5px;
}

.send_bt a:hover {
    color: #fefefd;
    background-color: #252f2d;
}


/* contact section end */


/* project box section start */

.project_box {
    width: 100%;
    float: left;
    background-color: #f9f9f9;
    height: auto;
    padding: 40px 0px;
}

.project_main {
    width: 100%;
    display: flex;
}

.hire_text {
    width: 100%;
    font-size: 30px;
    color: #252f2d;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 8px;
}

.callnow_bt {
    width: 200px;
    float: right;
    text-align: right;
}

.callnow_bt a {
    width: 100%;
    float: right;
    font-size: 16px;
    color: #fefefd;
    background-color: #fa7e23;
    padding: 14px;
    border-radius: 5px;
    text-align: center;
}

.callnow_bt a:hover {
    color: #fefefd;
    background-color: #252f2d;
}


/* project box section end */

/* review section start*/

.rev-section {
    display: flex;
    height: 100vh;
}

/* review section end*/

/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    font-size: 30%;
    text-align: center;
    background-color: #252f2d;
    height: auto;
    color: #ffffff;
    padding: 60px 0px 45px 0px;
}

.location_text {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.location_text ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.location_text li {
    float: left;
}

.location_text li a {
    float: left;
    font-size: 20px;
    color: white;
    margin: 0px 10px;
    background-color: #3e412d;
    padding: 12px 0px;
    border-radius: 100%;
    width: 60px;
    text-align: center;
}

.location_text li a:hover {
    color: #252f2d;
    background-color: #fefefd;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252f2d;
    height: auto;
    font-size: 40%;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 26px;
    margin: 15px 0px;
    color: #ffffff;
    text-align: center;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #f5c729;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}

.margin_90 {
    margin: 90px 0px;
}

/* Full-page overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* This makes sure it covers everything initially */
}

/* Navbar should have a higher z-index after loading */
.navbar {
    z-index: 10000;
    /* Ensure navbar is above the overlay */
}

/* Hide the loader after page has loaded */
body.loaded .loading-overlay {
    display: none;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: var(--background-color);
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
  }
  
  #preloader:before,
  #preloader:after {
    content: "";
    position: absolute;
    border: 4px solid var(--accent-color);
    border-radius: 50%;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  
  #preloader:after {
    animation-delay: -0.5s;
  }
  
  @keyframes animate-preloader {
    0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
    }
  
    100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # Scroll Top Button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: var(--accent-color);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: var(--contrast-color);
    line-height: 0;
  }
  
  .scroll-top:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
  }